<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	
	<link href="https://fonts.googleapis.com/css?family=Baloo+Tamma|Schoolbell|Syncopate" rel="stylesheet">
	<link rel="stylesheet" href="./css/reset.css" type="text/css" />
	<link rel="stylesheet" href="./css/style.css" type="text/css" />
	<title>Eat da Burger!!!</title>
	
	</head>
	<body>
		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="./js/interface.js"></script>
	</body>
</html>
